
.App {
    font-family: Calibri,Sans-serif;
    box-shadow: 2px 2px 2px 2px  rgba(0, 0, 0, 0.3); ;
    border:rgb(196, 190, 190) 1px ; 
    background: white;
    border-radius:5px; 
    position: absolute;
    width: 80%;
    height: 400px;
    margin-top: 20px;
    margin-left: 80px;
  }
  
  .header {
    position: relative;
    width: 100%;
    height: 5%;
    border-bottom:rgb(185, 181, 181)1.5px solid; 
  }
  
  label{
    display: inline-block;
    position: relative;
    width: 15%;
    font-size: 18px;
    padding-left:2px ;
  }

  .table {
    position: relative; 
    margin-top: 5px;
    width: 100%;
    height: 95%;
  }
  .col {
    display: inline-block;
    position: relative;
    overflow-y: scroll;
    text-align: left;
    width: 15%;
    height: 95%;
  }
  
  .map-container {
    position: relative;
    display: inline-block;
    background: rgb(235, 230, 213);
    width:55%;
    height: 95%;
  }  
  
  p {
   cursor: pointer;
   color: rgb(24, 127, 245);
   padding-left: 5px;  
   padding: 5px;
   font-size: calc(8px + 2vmin); 
   border-radius: 5px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
  }

  .marked{
    color:white;
    background: rgb(24, 127, 245);
  }

  p:hover {
    color:white;
    background: rgb(24, 127, 245);
    white-space: normal;
  }